[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-socketio = "*"
flask = {extras = ["async"], version = "*"}
flask-login = "*"
python-dotenv = "*"
flask-session = "*"
redis = "*"
poker = "*"
pokerlib = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "flask --app upper_hand.py --debug run"
